<sly data-sly-template.base="${ @ item}">
    <div class="col-12 col-md-6 col-lg-4 mt-3">
        <div class="card" id="${item.id}">
            <div class="card-header">
                ${item.eventName}
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Holder: ${item.eventUser}</h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    ${'hh:mm' @ format=item.eventDate} / ${'dd MMMM yyyy' @ format=item.eventDate}
                </h6>
                <hr/>
                <div class="row">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</sly>