<div class="cleanslate w24tz-current-time w24tz-middle"
     style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;">
    <p><a href="//24timezones.com/Беларусь/время" style="text-decoration: none" class="clock24"
          id="tz24-1559906463-cc10397-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIwIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I1Y2ZhNDg5ZjhlZjhlIiwidHlwZSI6ImRiIiwibGFuZyI6InJ1In0="
          title="Time" target="_blank" rel="nofollow">Беларусь</a></p>
    <div id="clock_block_cb5cfa489f8ef8e"></div>
</div>
<script type="text/javascript" src="//w.24timezones.com/l.js" async></script>