<!-- Navigation -->
<sly data-sly-use.navigation="by.gomel.epam.core.models.structure.TopNavigationModel"></sly>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <sly data-sly-list.rootPage="${navigation.rootPages}">
                    <li class="nav-item ${currentPage.title==rootPage.title?'active':''}">
                        <a class="nav-link" href="${rootPage.path @ extension='html'}">${rootPage.title}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </sly>
            </ul>
        </div>
    </div>
</nav>
<div style="height: 56px"></div>