<sly data-sly-template.page="${ @ index, item}">
    <div class="carousel-item ${index==0?'active':''}">
        <div class="card text-center border-dark">
            <div class="card-header">
                ${item.eventName}
            </div>
            <div class="card-body">
                <h5 class="card-title">When: ${'dd MMMM yyyy' @ format=item.eventDate} - ${'hh:mm' @ format=item.eventDate}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer bg-dark">
                &nbsp;
            </div>
        </div>
    </div>
</sly>
<!--/* TODO:
    1. Add new functionality to display items that are new within last 2 days;
    2. Add button to move on event page;
    3. Create event page;
*/-->