<sly data-sly-template.page="${ @ index, item}">
    <div class="carousel-item ${index==0?'active':''}">
        <div class="card text-center border-dark">
            <div class="card-header">
                ${item.eventName}
            </div>
            <div class="card-body">
                <h5 class="card-title">When: ${item.eventDate} - ${item.eventTime}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer bg-dark">
                &nbsp;
            </div>
        </div>
    </div>
</sly>